header{
    width: 40%;
}

h1{
    margin: 10px 0;
    color: #000;
    font-size: 36px;
}

.header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-score{
    font-size: 18px;
}

.btn{
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #FFA500;
    color: #000;
    font-family: 'Silkscreen', cursive;
    font-size: 18px;

}

.btn:active{
    transform: scale(.97);
}