@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Silkscreen', cursive;
  background-color: #FFE5B4;

}